<div class="chart-details">
      <div class="pager">
            <ul class="pager">
                  <li class="previous">
                        <a href="{{pager.prev.href}}">{{pager.prev.text}}</a>
                  </li>
                  <li class="next">
                        <a href="{{pager.next.href}}">{{pager.next.text}}</a>
                  </li>
            </ul>
      </div>
      <div class="table"></div>
</div>