<li {{#active}}class="active"{{/active}}>
      <a href="{{href}}"{{#data}} data-{{field}}="{{value}}"{{/data}}{{#class}} class="{{class}}"{{/class}}>
            {{#icon}}<i class="icon-{{icon}}"></i>&nbsp;{{/icon}}{{text}}
      </a>
</li>