<ul class="pager">
      <li class="previous">
            <a href="{{prev.href}}">{{prev.text}}</a>
      </li>
      <li class="next">
            <a href="{{next.href}}">{{next.text}}</a>
      </li>
</ul>