/*
    Document   : ralog
    Created on : 17.02.2012, 19:45:16
    Author     : Martin Zoellner <ragchuck at gmail.com>
    Description:
        Purpose of the stylesheet follows.
*/

body > .container {
      padding-top:50px;
}

.brand {
      font-weight: bolder;
}
.brand span#ra {
      color:lime;
}

.footer {
      border-top: 1px solid #E5E5E5;
      margin-top: 45px;
      padding: 35px 0 36px;
}

.table .value {
      text-align: right;
}

#import {
      display: none;
      background-color: #F0F0F0;
      border: 1px solid rgba(0, 0, 0, 0.05);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
      padding: 9px;
      margin-top: 40px;
}

/*
#notification-center {
    width: 600px;
    padding-top: 45px;
    padding-bottom: 0px;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#notification-center .content {
}

#notification-center .toggler {
}

#notification-center .toggler a {
    display: block;
    text-align: center;
}

.alert .btn-cancel {
      margin-left: 4px;
}

#content > div {
      display: none;
}
#content > div.active {
      display: block;
}
*/