/*
    Document   : ralog
    Created on : 17.02.2012, 19:45:16
    Author     : Martin Zoellner <ragchuck at gmail.com>
    Description:
        Purpose of the stylesheet follows.
*/

body > .container {
    padding-top: 50px;
}

.brand {
    font-weight: bolder;
    text-shadow: #fff 0 0 3px;
}

.brand span#ra {
    color: lime;
}

.footer {
    border-top: 1px solid #E5E5E5;
    margin-top: 45px;
    padding: 35px 0 36px;
}

.popable {
    border-bottom: 1px dotted #999999;
    cursor: help;
}

#import-ch_filter {
    max-height: 15em;
    overflow: auto;
    border: 1px solid #ccc;
}

.table .value,
.table .header {
    text-align: right;
}

#import {
    display: none;
    background-color: #F0F0F0;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    padding: 9px;
    margin-top: 40px;
    text-shadow: #FFFFFF 1px 1px 0;
}

body .logged-in,
body .acl-login,
body .acl-admin,
body.logged-in .logged-out {
    display: none !important;
}

body.logged-in .logged-in,
body.acl-login .acl-login,
body.acl-admin .acl-admin {
    display: block !important;
}

.ajax-error pre.source {
    margin: 1em 0 0;
    padding: 0.4em;
    background: #eee;
    line-height: 1.2em;
}

.ajax-error pre.source .highlight {
    background: lightyellow;
}
