<div class="chart-tabs tabbable tabs-right">
      <ul class="nav nav-tabs">
            <% _.each (chartTypes, function(name, type){ %>
                  <li>
                        <a href="#chart/<%= type %>" data-chart="<%= type %>" data-target="#tab-<%= type %>"><%= name %></a>
                  </li>
            <% }); %>
      </ul>
      <div class="tab-content">
            <% _.each (chartTypes, function(name, type){ %>
                  <div class="tab-pane" id="tab-<%= type %>">
                        <div class="chart-container"></div>
                        <div class="chart-pager"></div>
                        <div class="chart-table"></div>
                  </div>
            <% }); %>
      </div>
</div>
