<div id="chart-tabs" class="tabbable tabs-right">
    <ul class="nav nav-tabs">
	  {{#chart_types}}
		<li>
		    <a href="#!/chart/{{type}}" data-chart="{{type}}" data-target="#tab-{{type}}">{{name}}</a>
		</li>
	  {{/chart_types}}
    </ul>
    <div class="tab-content">
	  {{#chart_types}}
		<div class="tab-pane" id="tab-{{type}}">
		</div>
	  {{/chart_types}}
    </div>
</div>